@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Oxanium', cursive;
    background-image: url('../images/bgdotted.jpg');
    background-position: right;
    background-repeat: repeat-y;
}

.bg1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.8)) , url('../images/bgdotted.jpg');
}
.bg2{
    background-image:  url('../images/video.gif');
    background-position: center;
    opacity: .94;
    background-repeat: no-repeat;
}

.bg3{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4)) , url('../images/bgdotted2.jpg');
}

.bg4{
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.4)) , url('../images/bgdotted.jpg');
}

.up {
    animation: .5s anim-lineUp ease-out ;
  }

@keyframes anim-lineUp {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -60px;
    }
}

.down {
   animation: .5s anim-lineDown ease-out ;
}

@keyframes anim-lineDown {
    0% {
        margin-top: -60px;
    }
    100% {
        margin-top: 0px;
    }
}

.btn1{
    background-image: linear-gradient(to right,rgba(169, 166, 166, 0.4),rgba(173, 170, 170, 0.4)) , url('../images/bgdotted3.png');
    opacity: .4;
    transition: all ease-in .5s;

}


.btn1in{
    margin-top: 0px;
}

.btn1out{
    margin-top: 420px;
}

.btn2in{
    margin-top: 0px;
}

.btn2out{
    margin-top: -420px;
}

    
.btn1in2{
    margin-left: 0px;
}

.btn1out2{
    margin-left: 350px;
}

.btn2in2{
    margin-left: 0px;
}

.btn2out2{
    margin-left: -350px;
}

@media (min-width: 768px) {

    .slide1{
        margin-left: 0px;
        transition: all ease-in .5s;
    }

    .slide2{
        margin-left: -700px;
        transition: all ease-in .5s;
    }

    .slide3{
        margin-left: -1400px;
        transition: all ease-in .5s;
    }
}


@media (min-width: 1280px) {

    .slide1{
        margin-left: 0px;
        transition: all ease-in .5s;
    }

    .slide2{
        margin-left: -965px;
        transition: all ease-in .5s;
    }

    .slide3{
        margin-left: -1930px;
        transition: all ease-in .5s;
    }
}


.bar1{
    width: 33.33%;
    transition: all ease-in .5s;
}

.bar2{
    width: 66.66%;
    transition: all ease-in .5s;
}

.bar3{
    width: 100%;
    transition: all ease-in .5s;
}

.show{
    display: block;
}

.hide{
    display:none;
}

.pop1{
    background-image: linear-gradient(to right,rgba(169, 166, 166, 0.4),rgba(173, 170, 170, 0.4)) , url('../images/bgdotted3.png');
    opacity: 1;
    transition: all ease-in .5s;

}

.spn1{
    animation: 1s anim-flipY ease ;
}

@keyframes anim-flipY {
    0% {
      transform:rotateZ(0deg);
    }
    100% {
      transform:rotateZ(360deg);

    }
}

.spn2{
    animation: 1s anim-flipY2 ease ;
}

@keyframes anim-flipY2 {
    0% {
      transform:rotateZ(0deg);
    }
    100% {
      transform:rotateZ(-360deg);

    }
}