@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Oxanium', cursive;
    background-image: url('../images/bgdotted.jpg');
    background-position: right;
    background-repeat: repeat-y;
}

.bg1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.727),rgba(0, 0, 0, 0.8)) , url('../images/bgdotted.jpg');
}
.bg2{
    background-image:  url('../images/video.gif');
    background-position: center;
    opacity: .94;
    background-repeat: no-repeat;
}

.bg3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.827),rgba(0, 0, 0, 0.8)) , url('../images/bgdotted2.jpg');
}

.up {
    animation: .5s anim-lineUp ease-out ;
  }

@keyframes anim-lineUp {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: -60px;
    }
}

.down {
   animation: .5s anim-lineDown ease-out ;
}

@keyframes anim-lineDown {
    0% {
        margin-top: -60px;
    }
    100% {
        margin-top: 0px;
    }
}